<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twisted Tiara</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <!--<meta name="google-signin-client_id" content="209215004498-2etv6gm9p0av98jtagdb1ujcsqjtmp9u.apps.googleusercontent.com">-->
    <meta name="description" content="A place for women" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Twisted Tiara - Women Empowerment Awarness" />
    <meta name="twitter:description" content="A start up to increase knowldege and awarness among the womens about their rights across the country." />
    <meta name="twitter:image" content="" />
    <meta property="og:title" content="Twisted Tiara - Women Empowerment Awarness" />
    <meta property="og:site_name" content="Twisted Tiara" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://twistedtiaraco.github.io/demo/" />
    <meta property="og:image" content="https://twistedtiaraco.github.io/demo/images/logo.png" />
    <meta property="og:image:width" content="350" />
    <meta property="og:image:height" content="350" />
    <meta property="og:description" content="A start up to increase knowldege and awarness among the womens about their rights across the country" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="~/dist/styles.css" rel="stylesheet" />
</head>
<body class="homepage is-preload">
    <tt-root></tt-root>
    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
    <script type="text/javascript" src="~/dist/runtime.js"></script>
    <script type="text/javascript" src="~/dist/es2015-polyfills.js" nomodule></script>
    <script type="text/javascript" src="~/dist/polyfills.js"></script>
    <script type="text/javascript" src="~/dist/scripts.js"></script>
    <script type="text/javascript" src="~/dist/vendor.js"></script>
    <script type="text/javascript" src="~/dist/main.js"></script>
</body>
</html>