################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TwistedTiara.Web/obj/Debug/netcoreapp2.0/Tsc987f6b69.out
